        
      
        body {
            background-image: url(/images/bg-header-desktop.png);
            background-position: top right cover;
            background-repeat: no-repeat;
            background-size: 127rem;
            font-family: 'Bai Jamjuree', sans-serif;

        }
        p{
            font-size: 15px;
            font-weight: 400;
        }
        button {
            border: none;
            border-radius: 50px;
            width: 230px;
            height: 50px;
            margin: 5px;
            background-color: hsl(171, 66%, 44%);
            color: white;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            box-shadow:2px 2px 15px hsl(171, 66%, 44%);
        }
       
        #second-button {
            background-color: hsl(233, 100%, 69%);
            box-shadow: 2px 2px 15px hsl(233, 100%, 69%);
        }
        
        .image-container img {
            width: 90px;
        }
        
        #intro {
            padding-top: 120px;
            margin-left: 50px;
            text-align: center;
        }
        
        #intro h1 {
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 0;
        }
        
        #intro p {
            padding: 10px 320px;
            color: hsl(201, 11%, 66%);
            margin: 0 55px 25px;
            line-height: 25px;
        }
        /* second column (MID) */
        
        #mid {
            margin-top: 120px;
        }
        
        .description {
            text-align: center;
            margin-left: 60px;
        }
        
        .description p {
            padding: 0 350px;
            line-height: 25px;
            color: hsl(210, 10%, 33%);
        }
        
        .mid-image {
            display: flex;
            padding-top: 20px;
          }
        
        .options {
            margin: 80px 0 0 50px;
            line-height: 25px;
            padding-left: 50px;
        }
        
        .options h3 {
            font-weight: 600;
        }
        
        .options p {
            padding: 0 160px 0 0;
            color: hsl(210, 10%, 33%);
        }
        /* second mid */
        
        #second-mid {
            margin-top: 100px;
            text-align: center;
            line-height: 25px;
        }
        
        #second-mid p {
            padding: 0 380px;
            color: hsl(210, 10%, 33%);
        }
        
        .devices img {
            margin-top: 50px;
        }
        /* outro */
        
        #outro {
            text-align: center;
        }
        
        .activity {
            display: flex;
            margin: 50px 0px;
            padding-top: 40px;
        }
        
        .workflow {
            flex-wrap: wrap;
        }
        
        .workflow p {
            padding: 0 50px;
            line-height: 25px;
        }
        
        .company-image img {
            margin: 55px;
            width: 120px;
        }
        
        .latter p {
            color: hsl(210, 10%, 33%);
            line-height: 25px;
            padding: 0 380px;
            margin-bottom: 50px;
        }
        
        #contact {
            margin-top: 70px;
            background-color: hsl(198, 29%, 91%);
        }
        
        .bottom-logo {
            display: flex;
        }
        
        .bottom-logo img {
            margin-top: 10px;
            margin-left: 60px;
            width: 50px;
            object-fit: contain;
        }
        
        .contact-footer {
            height: 150px;
            /* text-align: center; */
        }
        
        .extra {
            margin-top: 45px;
            margin-left: 130px;
            line-height: 25px;
        }
        
        .extra1 p {
            margin: 30px;
            display: inline;
        }
        
        .extra2 p {
            margin: 28px;
            display: inline-block;
        }
        
        .social {
            position: absolute;
            left: 85%;
            margin-top: 56px; 
        }
    
        .social img {
            margin: 10px;
            width: 20px;
        }
        /* psuedo */
        
        .social img:hover {
            color: hsl(171, 66%, 44%);
        }


        /* Responsiveness */
        @media screen and (max-width:600px){

            body{
                background-image: url(/images/bg-header-mobile.png);
                background-size: 80rem;
                background-position: cover;
            }
            #intro {
                padding-top: 80px;
                margin-left:auto;
                text-align: center;
            }
            #intro h1 {
                padding: 0 35px;
                font-size: 28px;
            }

            .image-container img {
                width: 70px;
            }
            #intro p {
                padding: 18px 5px;
                color: hsl(201, 11%, 66%);
                margin: 0 5px 5px;
                line-height: 25px;
            }
            button {
                padding-top: 10px;
                margin: 12px;
                width: 280px;
            }
            .description {
                text-align: center;
                margin-left: 10px;
                padding: 0 55px;
            }
            
            .description p {
                padding: 0px;
                line-height:20px;
                color: hsl(210, 10%, 33%);
                font-size: 13px;
                font-weight: 400;
            } 

           .mid-image img{
               width: 300px;
               padding-left: 30px ;
           }
            .mid-image {
                flex-wrap: wrap;
                padding-top: 40px;
            }

            .options {
                margin-right: 45px;
             text-align: center;
             padding-left: 10px;
            }

            .options p {
              text-align: center;
              padding:  5px ;
                
            }
            #second-mid {
                margin-top: 150px;
            }

            #second-mid h1{
                padding: 0 35px;
            }

            #second-mid p {
                padding: 0 40px;
            }

            .devices img{
                width: 380px;
            }

            #outro {
                padding-top: 80px;
            }
            #outro h1 {
                padding: 0 35px;
            }

            #outro p {
                padding: 0 35px;
            }
            .activity {
              flex-direction: column;
            }
            .workflow{
                margin: 10px;
            }
            .company-image img {
                margin: 35px;
            }
            .latter{
                padding-top: 80px;
            }
            .latter h2{
                padding: 0 45px;
            }

            .latter p {
                padding:0 350px;
                margin-bottom: 30px;
            }
            .bottom-logo {
             flex-direction:column;
            }
            .bottom-logo img {
                margin-top: 50px;
                padding-left: 100px;
                align-items: center;
        }

        .contact-footer {
            height: 370px;
        }

        .extra {
            margin-top: 25px;
            margin-left: 5px;
            text-align: center;
        }

        .extra1 p {
            margin: 10px;
            display: block;
            
        }
        
        .extra2 p {
            margin: 10px;
            display: block;
        }

        .social {
          position: inherit;
          margin-top: 8px;
          margin-left:115px;
         
        }

        .social img {
            display: inline-block;
            margin: 10px;
            width: 20px;
            padding: 0;
        }
    
    }